<div class="my-3-auto">
    <h1 class="bg-dark text-white">Of and From</h1>
    <br>
    <strong class="bg-danger">Ex -01(OF)</strong>
    <hr>
    <div class="row m-auto">
        <div class="col-md-6">
            <p class="border rounded text-success bg-warning my-3 ">
           <strong>&nbsp;
            &nbsp;
            &nbsp;Data</strong>:Of ('Raja','Musaib','Gul')</p>
           <hr>
           <ul class="bg-success text-white" id="elContainer">
            
           </ul>
        </div>
        <div class="col-md-6">
            <p class="border rounded bg-warning text-success my-3">
           <strong>&nbsp;
            &nbsp;
            &nbsp;Data</strong>:Of (&#123; a:'Raja',b:'Musaib',c:'Gul'&#125;)</p>
           <hr>
           <ul class="bg-success text-white" >
            <li> <strong>a-</strong>&nbsp; {{obsMsg.a}}</li>
            <li><strong>b-</strong>&nbsp;{{obsMsg.b}}</li>
            <li><strong>c-</strong>&nbsp;{{obsMsg.c}}</li>
           </ul>
        </div>
    </div>
    <strong class="bg-danger">Ex -02(From)</strong>
    <div class="row m-auto bg-dark text-white">
        <div class="col md-4">
        <strong>Array to observable</strong>
        <hr>

        <p class="border rounded text-success bg-warning my-3 ">
            <strong>&nbsp;
             &nbsp;
             &nbsp;Data</strong>:FROM ('arif','basit','ovais')</p>
            <hr>
            <ul class="bg-success text-white" style="height: 173px;"  id="elContainer3">
             
            </ul>  
        </div>
        <div class="col md-4">
            <strong>Promise </strong>
            <hr>
    
            <p class="border rounded text-success bg-warning my-3 ">
                <strong>&nbsp;
                 &nbsp;
                 &nbsp;Data</strong>Promise to observable</p>
                <hr>
                <ul class="bg-success text-white" style="height: 173px;" id="elContainer4">
                 
                </ul>  
            </div>
            <div class="col md-4">
                <strong>string </strong>
                <hr>
        
                <p class="border rounded text-success bg-warning my-3 ">
                    <strong>&nbsp;
                     &nbsp;
                     &nbsp;Data</strong>string to observable</p>
                    <hr>
                    <ul class="bg-success text-white" id="elContainer5">
                     
                    </ul>  
                </div>
    </div>
    

</div>